<h1>Results</h1>

<%= @player1.name %> dropkicked <%= @player2.name %>!

<h2>Hit Points</h2>
<%= @player1.name %>: <%= @player1.hit_points %> HP
<br>
<%= @player2.name %>: <%= @player2.hit_points %> HP
