<h1>Results</h1>

<%= @game.player_1_name %> dropkicked <%= @game.player_2_name %>!

<h2>Hit Points</h2>
<%= @game.player_1_name %>: <%= @game.player_1_hp %> HP
<br>
<%= @game.player_2_name %>: <%= @game.player_2_hp %> HP
