<h1>Battle</h1>

<h2>Players</h2>
<%= @game.player_1_name %> vs. <%= @game.player_2_name %>

<h2>Hit Points</h2>
<%= @game.player_1_name %>: <%= @game.player_1_hp %>
<br>
<%= @game.player_2_name %>: <%= @game.player_2_hp %>

<form action="/attack" method="get">
  <input type="submit" value="Battle commence!"/>
</form>
